#Path to scalagwt-scala checkout. It must have scala compiler build finished from scalagwt branch. Just type `ant` in scalagwt-scala to build it.
scala-basedir=../scalagwt-scala
#Path to scalagwt-scala checkout. It must have gwt compiler build finished from scalagwt branch. Just type `ant dist-dev` in scalagwt-gwt to build it.
gwt-basedir=../scalagwt-gwt
